
<div class="fondo">
  <nav class="navbar navbar-black bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>UNPA</b></a>
        <ul class="nav nav-underline">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-black letra3"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Docencia
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Cursos impartidos</a
                >
              </li>
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Productos de las actividades de apoyo docente realizadas</a
                >
              </li>
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Asignaturas con las que presenta mayor afinidad curricular y
                  experiencia profesional</a
                >
              </li>
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Problemas y oportunidades para el cumplimiento de las
                  actividades docentes
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-black letra3"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Formación de recursos humanos
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-black letra3" href="#">Tutorías</a>
              </li>
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Dirección de tesis</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-black letra3"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Investigación y/o promoción del desarrollo
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Proyectos de investigación</a
                >
              </li>
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Promoción al desarrollo</a
                >
              </li>
              <li>
                <a class="dropdown-item text-black letra3" href="#"
                  >Problemas y oportunidades para el cumplimiento de
                  investigación y/o promoción</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black letra3" href="#">Gestión Academica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black letra3" href="#">Difusión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black letra3" href="#"
              >Comentarios Generales</a
            >
          </li>
        </ul>

        <!-- Botón para activar el Offcanvas -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar"
          aria-label="Toggle offcanvas"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas (se añade sin quitar nada del menú principal) -->
        <div
          class="offcanvas offcanvas-end text-bg-white"
          tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title letra3" id="offcanvasDarkNavbarLabel">
              Mi perfil
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-2">
              <li class="nav-item">
                <a
                  class="nav-link active letra3"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#loginModal2"
                  >Inicio de sesión</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active letra3" aria-current="page" href="#"
                  >Historial</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link letra3" href="#">Ajustes</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle letra3"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Ayuda
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item letra3" href="#">Action</a></li>
                  <li>
                    <a class="dropdown-item letra3" href="#">Another action</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item letra3" href="#"
                      >Something else here</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <app-thesis-dir></app-thesis-dir>
    <router-outlet></router-outlet>

</div>
